# Build directories
build*/
build-host*/
_deps/
vendor/

# Bazel
/bazel-*
/MODULE.bazel.lock

# IDEs and editors
.vs/
.vscode/
.idea/
*.swp
*.swo
*.lnk

# Compiler and analysis
.cache/
.ccache*/
*.bak
*.pdb
*.obj
*.exe
*.lib
*.a
*.so
*.dylib

# Python
__pycache__/
*.pyc

# Project specific
.local
flash/
